<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styles_login.css">

</head>
<body>
    <div class="login-container">
        <img src="../static/media/images.png" alt="Logo" class="logo">
        <h1>Faça login na sua conta</h1>
        
        <form>
            <div class="input-group">
                <label for="username">Usuário</label>
                <input type="text" id="username" placeholder="Digite seu usuário" required>
            </div>
            
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" placeholder="Digite sua senha" required>
            </div>
            
            <button type="submit" class="btn-login">Entrar</button>
            
            <a href="#" class="forgot-password" id="forgot-password">Esqueceu sua senha?</a>
        </form>
    </div>

    <script>
        document.getElementById('forgot-password').addEventListener('click', function(e) {
            e.preventDefault();
            alert("Por favor, entre em contato com o departamento de TI para recuperar sua conta.");
        });
    </script>
</body>
</html>